section{
	text-align:center;
}

button{
	margin: 0 auto;
}

th, td {
	border:1px solid black;
}


ul{
	float: right;
}

#oculto{
	display:none;
}

#button{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


