*{
  box-sizing: border-box;
  font-family: Arial;
}


.fila{
	width:100%;
	display: table;
	height: 200px;
	margin:1%;
	
}
[class*="col"]{
	height: 100%;
}
.col1{
	width:16.66%;
}

.col2{
	width:calc(2*16.66%);
}

.col3{
	width:calc(3*16.66%);
}
.col4{
	width:calc(4*16.66%);
}
.col5{
	width:calc(5*16.66%);
}
.col6{
	width:calc(6*16.66%);
}

.fila>*{
	float:left;
	border:2%;
}
 
#imagen{
	background-image: url("download.jpg");
	width: 30%;
	height: 90%;
	background-repeat: no-repeat;
	border:1% solid white;
	margin:1%;
	float: left;
	z-index:1000;

}

.texto{
	position: absolute;
	background-color: rgba(31,31,31,0.9);
	opacity: 0;
	height: 200px;
	width: 30%;
	border:1% solid white;
	display: hidden;
}

 div.texto:hover{
	opacity: 1;
	display:block;
}

p.oculto{
	position: absolute;
	font-size: 20px;
	color:white;
}